.lead__container {
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__container {
      width: calc(100% - 2*28px);
  }
}

@media screen and (max-width: 768px) {
  .lead__container {
      width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .lead__container {
      width: 100%;
  }
}
